
IO_LOC "LED" N14;
IO_PORT "LED" IO_TYPE=LVCMOS18 DRIVE=8 PULL_MODE=UP BANK_VCCIO=1.8;


IO_LOC "SW[0]" E9;
IO_PORT "SW[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;

IO_LOC "SW[1]" E8;
IO_PORT "SW[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;

IO_LOC "SW[2]" T4;
IO_PORT "SW[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;

IO_LOC "SW[3]" T5;
IO_PORT "SW[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;


IO_LOC "Clock" H11;
IO_PORT "Clock" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
