# LEDs del Dock
IO_LOC "LED[0]" N16;  # LED2
IO_PORT "LED[0]" IO_TYPE=LVCMOS18 DRIVE=8 PULL_MODE=UP BANK_VCCIO=1.8;

IO_LOC "LED[1]" N14;  # LED3
IO_PORT "LED[1]" IO_TYPE=LVCMOS18 DRIVE=8 PULL_MODE=UP BANK_VCCIO=1.8;

IO_LOC "LED[2]" L14;  # LED4
IO_PORT "LED[2]" IO_TYPE=LVCMOS18 DRIVE=8 PULL_MODE=UP BANK_VCCIO=1.8;

IO_LOC "LED[3]" L16;  # LED5
IO_PORT "LED[3]" IO_TYPE=LVCMOS18 DRIVE=8 PULL_MODE=UP BANK_VCCIO=1.8;

# Botones S0-S3
IO_LOC "BTN[0]" C7;   # S0
IO_PORT "BTN[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;

IO_LOC "BTN[1]" D7;   # S1
IO_PORT "BTN[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;

IO_LOC "BTN[2]" T2;   # S2
IO_PORT "BTN[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;

IO_LOC "BTN[3]" T3;   # S3
IO_PORT "BTN[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;

# Reloj
IO_LOC "Clock" H11;
IO_PORT "Clock" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
